.address{
    display: flex;
    position: relative;
    color: var(--gray);
    flex-direction: row;
    align-items: baseline;
    gap: 2rem;
    top: -400px;
}
.addressOfWork{
    display: flex;
    position: relative;
    
}
.addressOfWork>:nth-child(1){
    display: flex;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 54px;
    flex-direction: row;
    /* right: 30px; */
    gap: 0;
    justify-content: center;
    align-items: baseline;
}
/* .addressOfWork>:nth-child(2){
    display: flex;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    right: 80px;
} */

