.business{
    display: flex;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif ;   
    font-size: 14px; 
    color: var(--gray);
    margin-top: 10rem;
    align-items: center;  
    flex-direction: row; 
    font-weight: 700;
}


.b-nameList>ul{
    display: flex;
    gap: 1.3rem;
    margin-right: 4rem;
    font-size:14px;
}

.b-nameList>ul>li>:nth-child(1){
    display: flex;
    font-size: 30px;
    font-style:normal;
    font-weight: bold;
    /* transform: scale(0.1); */
    /* color: rgb(180, 174, 174); */
}

.b-nameList>ul>li>:nth-child(2){
    display: flex;
    font-size: 20px;
    font-style:normal;
    font-weight:200;
    color: rgb(180, 174, 174);
}


