.experience{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    height: 100vh;
    margin-bottom: 2rem;
    position: relative;
    margin: 20%;
}

.achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.circle{
    width: 4rem;
    height: 4rem;
    background: rgb(237, 241, 242);
    border-radius: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.circle::before{
    border-radius: 100%;
    content: '';
    background-image: linear-gradient(to bottom, #87e6fb 0%,#ffc05c 100%);
    top: -8px;
    left: -8px;
    bottom: -8px;
    right: -8px;
    position: absolute;
    z-index: -1;
    box-shadow: var(--boxShadow);
}

.achievement span:nth-of-type(2){
    color:var(--orange);
}